<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/cases.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a class="header-logo" href="#">
                <img src="../img/index/logo.svg" alt="MYPL Logo">
            </a>

            <div class="header-search">
                <input class="header-search__input" type="text">
                <button class="header-search__button" type="button">
                    <img src="../img/index/seatch.svg" alt="Search">
                </button>
            </div>

            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item">
                        <a class="header-nav__link" href="#">EN</a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__link" href="#">О нас</a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__link" href="#">Кейсы</a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__link" href="#">Услуги</a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__link header-nav__link--phone" href="tel:+79992293679">89992293679</a>
                    </li>
                </ul>
            </nav>

            <!-- Бургер кнопка -->
            <button class="burger-btn" id="burgerBtn" aria-label="Открыть меню">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>

            <div class="header-social">
                <a class="header-social__link header-social__link--whatsapp" href="#">
                    <img src="../img/social/whatsapp.svg" alt="WhatsApp">
                </a>
                <a class="header-social__link header-social__link--telegram" href="#">
                    <img src="../img/social/telegram.svg" alt="Telegram">
                </a>
            </div>

            <a class="header-contact" href="#">
                <span class="header-contact__text">Контакты</span>
                <img class="header-contact__arrow" src="../img/social/arrow.svg" alt="Arrow">
            </a>
        </div>
    </header>
    <section class="our-case">
        <!-- Блок our-case__top -->
        <div class="our-case__top">
            <a class="our-case__top-button" href="#">
                все проекты
            </a>
            <h2 class="our-case__top-title">
                Наши <span class="span"></span> Кейсы
            </h2>
        </div>
        
        <!-- Стрелки навигации (показываются на мобильных) -->
        <div class="our-case__links-arrows">
            <a class="our-case__link-arrow" href="#">
                <svg class="case-cat__arrow" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25.668" cy="25.5" r="25" />
                    <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                    <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                </svg>
            </a>
            <a class="our-case__link-arrow" href="#">
                <svg class="case-cat__arrow" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25.668" cy="25.5" r="25" />
                    <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                    <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                </svg>
            </a>
        </div>
        
        <!-- Блок our-case__choise-list -->
        <ul class="our-case__choise-list">
            <li class="our-case__choise-item our-case__choise-item--active">
                <a class="our-case__choise-link" href="#">Сайты</a>
            </li>
            <li class="our-case__choise-item">
                <a class="our-case__choise-link" href="#">Боты</a>
            </li>
            <li class="our-case__choise-item">
                <a class="our-case__choise-link" href="#">AI</a>
            </li>
            <li class="our-case__choise-item">
                <a class="our-case__choise-link" href="#">Магазины</a>
            </li>
            <li class="our-case__choise-item">
                <a class="our-case__choise-link" href="#">CRM</a>
            </li>
            <li class="our-case__choise-item">
                <a class="our-case__choise-link" href="#">Дизайн</a>
            </li>
        </ul>
        
        <!-- Слайдеры с кейсами -->
        <div class="our-case__sliders">
            <!-- Здесь будут слайдеры -->
        </div>
    </section>
    <section class="case">
        <div class="case-info">
            <div class="case-info__blocks">
            <a class="case-info__block" href="#">
                <div class="case-info__block-top">
                    <h3 class="case-info__title">
                        Строительный сектор
                    </h3>

                    <div class="case-info__block-link">
                    <svg class="case-info__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25.668" cy="25.5" r="25" />
                        <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                        <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                    </svg>
                </div>
                </div>
                <img src="../img/cases/case/1.png" alt="Строительный сектор">
            </a>
            <a class="case-info__block" href="#">
                <div class="case-info__block-top">
                <h3 class="case-info__title">
                    Медицинские организации
                </h3>
                <div class="case-info__block-link">
                    <svg class="case-info__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25.668" cy="25.5" r="25" />
                        <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                        <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                    </svg>
                </div>
            </div>
                <img src="../img/cases/case/2.png" alt="Строительный сектор">
            </a>
        </div>
    </div>
        <div class="case-slider">
            <a class="case-slider__link" href="#">
                <div class="case-slider__link-top">
                <h5 class="case-slider__link-title">
                    Онлайн - обучение
                </h5>
                <div class="case-slider__block-link">
                <svg class="case-slider__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25.668" cy="25.5" r="25" />
                    <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                    <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                </svg>
            </div>
            </div>
            </a>
            <a class="case-slider__link" href="#">
                <div class="case-slider__link-top">
                <h5 class="case-slider__link-title">
                    Интернет - магазины
                </h5>
                <div class="case-slider__block-link">
                <svg class="case-slider__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25.668" cy="25.5" r="25" />
                    <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                    <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                </svg>
            </div>
            </div>
            <img class="case-slider__link-img" src="../img/cases/case/mini-1.png" alt="Лендинги">
            </a>
            <a class="case-slider__link" href="#">
                <div class="case-slider__link-top">
                <h5 class="case-slider__link-title">
                    Лендинги
                </h5>
                <div class="case-slider__block-link">
                <svg class="case-slider__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25.668" cy="25.5" r="25" />
                    <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                    <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                </svg>
            </div>
          
            </div>
            <img class="case-slider__link-img" src="../img/cases/case/mini-2.png" alt="">
            </a>
            <a class="case-slider__link" href="#">
                <div class="case-slider__link-top">
                <h5 class="case-slider__link-title">
                    Искусство
                </h5>
                <div class="case-slider__block-link">
                <svg class="case-slider__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25.668" cy="25.5" r="25" />
                    <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                    <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                </svg>
            </div>
          
            </div>
            <img class="case-slider__link-img" src="../img/cases/case/mini-3.png" alt="Искусство">
            </a>
        </div>
        <div class="case-cat">
            <div class="case-cat__blocks">
                <a class="case-cat__block" href="#">
                    <div class="case-cat__block-top">
                    <h4 class="case-cat__block-title">
                        Игровые 
                    </h4>
                    <svg class="case-cat__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25.668" cy="25.5" r="25" />
                        <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                        <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                    </svg>
                </div>
                    <div class="case-cat__block-preview">
                    <img class="case-cat__block-img" src="../img/cases/case/big-1.png" alt="Игровые">
                    </div>
                </a>
                <a class="case-cat__block" href="#">
                    <div class="case-cat__block-top">
                        <h4 class="case-cat__block-title">
                            Авто 
                        </h4>
                        <svg class="case-cat__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25.668" cy="25.5" r="25" />
                            <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                            <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                        </svg>
                    </div>
                    <div class="case-cat__block-preview">
                    <img class="case-cat__block-img" src="../img/cases/case/big-3.png" alt="Авто">
                    </div>

                </a>
                <a class="case-cat__block" href="#">
                    <div class="case-cat__block-top">
                        <h4 class="case-cat__block-title">
                            Промышленные 
                        </h4>
                        <svg class="case-cat__arrow"  viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25.668" cy="25.5" r="25" />
                            <path d="M29.9141 29.7432L28.542 29.7432V24.5615L29.9141 24.5615V29.7432Z" />
                            <path d="M29.9131 21.4707V21.9375L29.4688 22.3721C29.4557 22.3834 29.4421 22.3941 29.4297 22.4062L22.1426 29.543L21.6396 29.0498L26.9629 23.8369C27.6084 23.2045 27.1294 22.1575 26.2656 22.1572H21.4668V21.4707H29.9131Z"/>
                        </svg>
                    </div>
                    <div class="case-cat__block-preview">

                    </div>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <!-- Десктопная структура (остается как было) -->
        <a class="footer-link__logo" href="#">
            <img src="../img/index/logo.svg" alt="Logo">
        </a>
        <ul class="footer-list">
            <li class="footer-item"><a class="footer-link" href="#">
                Политика конфиденциальности
            </a></li>
            <li class="footer-item"><a class="footer-link" href="#">
                Политика персональных данных
            </a></li>
            <li class="footer-item"><a class="footer-link" href="#">
                mypl@googl.com
            </a></li>
            <li class="footer-item"><a class="footer-link" href="#">
                И также адрес
            </a></li>
        </ul>
        <div class="footer-social">
            <a class="footer-social-whatsapp" href="#">
                <img src="../img/social/whatsapp.svg" alt="Whatsapp">
            </a>
            <a class="footer-social-telegram" href="#">
                <img src="../img/social/telegram.svg" alt="Telegram">
            </a>
        </div>

        <!-- Адаптивная структура для экранов < 1200px -->
        <div class="footer-top-row">
            <div class="footer-left-group">
                <a class="footer-link__logo" href="#">
                    <img src="../img/index/logo.svg" alt="Logo">
                </a>
                <a class="footer-email" href="mailto:mypl@googl.com">
                    mypl@googl.com
                </a>
            </div>
            <div class="footer-social">
                <a class="footer-social-whatsapp" href="#">
                    <img src="../img/social/whatsapp.svg" alt="Whatsapp">
                </a>
                <a class="footer-social-telegram" href="#">
                    <img src="../img/social/telegram.svg" alt="Telegram">
                </a>
            </div>
        </div>

        <div class="footer-policies">
            <a class="footer-policy-item" href="#">
                Политика конфиденциальности
            </a>
            <a class="footer-policy-item" href="#">
                Политика персональных данных
            </a>
        </div>

        <a class="footer-address" href="#">
            И также адрес
        </a>
    </footer>
    <script src="../js/cases.js"></script>
</body>
</html>